.movies-section{
    background-color: #000000;
    margin-top: 0;
}
.movies{
   display: flex;
   flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 20px;
}
.movie-card{
    background-color: #ffffff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border: 1px solid #ffffff;
    padding: 20px;
    width: 20%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.movie-card a{
    text-decoration: none;
    color: #000000;
}
.movie-card a:hover{
    text-decoration: underline;
    text-decoration-color: #ffb703;
    -moz-text-decoration-color: #ffb703;
}
.movie-card h1{
    color:#ffb703;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.movie-card h4{
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    padding-top: 15px;
}
.movie-card p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
}
.movie-card .poster{
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    min-height: 400px;
    background-position: center center;
    
}