.main{
    background-color: #000000;
    min-height: 100vh;
    padding: 0 0 20px 0
}
.main img{
    max-width: 100%;
}
.main h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}
.main ul{
    padding-left: 40px;
}
.main ul>li{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.main a{
    color: #551a8b;
}
